<a href="{{ '/' | relative_url }}"{% if page.url == '/' %} aria-current="page"{% endif %}>Home</a>
<a href="{{ '/about.html' | relative_url }}"{% if page.url == '/about.html' %} aria-current="page"{% endif %}>About</a>
<a href="{{ '/research.html' | relative_url }}"{% if page.url == '/research.html' %} aria-current="page"{% endif %}>Research</a>
<a href="{{ '/projects.html' | relative_url }}"{% if page.url == '/projects.html' %} aria-current="page"{% endif %}>Projects</a>
<a href="{{ '/experience.html' | relative_url }}"{% if page.url == '/experience.html' %} aria-current="page"{% endif %}>Experience</a>
<a href="{{ '/education.html' | relative_url }}"{% if page.url == '/education.html' %} aria-current="page"{% endif %}>Education</a>
